@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bokor&family=Cinzel+Decorative:wght@400;700;900&family=Macondo&family=Pirata+One&display=swap');

body{
    margin: 0px;
    background-color: beige;
}
header{
    background-image: url(texturam.jpg);
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
header > h1{
    margin: 0px;
    padding: 10px;
    font-size: 50px;
    font-weight: bolder;
}
header > h2{
    margin: 0px;
    padding: 10px;
    font-style: italic;
}
main{
    line-height: 80px;
    font-size: 30px;
}
.branco{
    background-color: white;
    padding: 40px;
}
.desenho{
    padding: 40px;
    box-shadow: inset 0px 0px 10px 10px rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.392);
}
#first{
    background-image: url(wallpaper1011i.jpg);
    background-attachment: fixed;
    color: white;
}
#second{
    background-image: url(wallpaper1011g.jpg);
    background-attachment: fixed;
    color: white;
}
section > article > p{
    max-width: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Pirata One", system-ui;
}
.artcolor{
    background-color: rgba(197, 197, 197, 0.205);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
}
footer{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.66);
    background-image: url(texturam.jpg);
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}